/* MASTER VARIABLES */

:root {
    --fs: 20px;
    
    --100: 12px;

    --050: calc(var(--100) /2);
    --200: calc(var(--100) *2);
    --400: calc(var(--100) *4);
    --color__main: var(--color__dark);
    --color__bg: var(--color__light);

    --color__accent: var(--color__now);
    --color__dark: #000;
    --color__light: #fff;

    /* Changing colors */
    
    --color__now: #0318d010; /* <-- is changed by script */
    
    --color__0000: rgba(255, 0, 0, 0.1);
    --color__0100: rgba(255, 166, 0, 0.1);
    --color__0200: rgba(255, 255, 0, 0.1);
    --color__0300: rgba(0, 128, 0, 0.1);
    --color__0400: rgba(0, 255, 255, 0.1);
    --color__0500: rgba(0, 0, 255, 0.1);
    --color__0600: rgba(128, 0, 128, 0.1);
    --color__0700: rgba(255, 0, 255, 0.1);

    --color__0800: rgba(255, 0, 0, 0.1);
    --color__0900: rgba(255, 166, 0, 0.1);
    --color__1000: rgba(255, 255, 0, 0.1);
    --color__1100: rgba(0, 128, 0, 0.1);
    --color__1200: rgba(0, 255, 255, 0.1);
    --color__1300: rgba(0, 0, 255, 0.1);
    --color__1400: rgba(128, 0, 128, 0.1);
    --color__1500: rgba(255, 0, 255, 0.1);

    --color__1600: rgba(255, 0, 0, 0.1);
    --color__1700: rgba(255, 166, 0, 0.1);
    --color__1800: rgba(255, 255, 0, 0.1);
    --color__1900: rgba(0, 128, 0, 0.1);
    --color__2000: rgba(0, 255, 255, 0.1);
    --color__2100: rgba(0, 0, 255, 0.1);
    --color__2200: rgba(128, 0, 128, 0.1);
    --color__2300: rgba(255, 0, 255, 0.1);
}


/* ---------------------------------------------- */

/* Nesting guides */

header,
footer,
nav,
marquee,
main,
aside, 
section,
div,
figure,
ul, li,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: var(--100);
    background-color: var(--color__accent);
    border-radius: var(--100);
}

/* ---------------------------------------------- */

html {
    transition: all 1s;
    scroll-behavior: smooth;
    font-size: var(--fs);
}

* {
    scrollbar-width: none; /* hide scrollbar in firefox */
}

*::-webkit-scrollbar {
    display: none; /* hide scrollbar in edge and opera */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02rem;
    color: var(--color__main);
    background-color: var(--color__bg);
    
    width: 600px;
    max-width: 100%;
    padding: var(--200);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: var(--100);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

a, a:visited {
    color: var(--color__main);
}

img {
    width: 100%;
}

/* HEADER */

.header {
    display: flex;
    padding: var(--100);
    flex-direction: column;
    gap: var(--100);
}
.header__figure {
    margin: auto;
}
.header__img {
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.header__site-title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}
.section__title {
    font-size: 0.8rem;
    margin: 0;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--100);
}
.info__container {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}
.info__links {
    display: flex;
    flex-direction: column;
    gap: var(--100);
    font-size: 0.8rem;
}
.info__links__item {
    text-align: center;
}
.info__links__item::after {
    content: '\2197';
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--100);
}
@media only screen and (max-width:600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    } 
}

.grid__item__inner {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}

.grid__item__figure {
    margin: 0;
    order: 1;
    
}
.grid__item__img {
    border-radius: var(--100);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.grid__item__title {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    order: 2;
}


/* FOOTER */

.footer {
    display: flex;
    padding: var(--100);
    flex-direction: row;
    gap: var(--100);
    font-size: 0.8rem;
}

.footer__container {
    display: flex;
    flex-direction: row;
    gap: var(--100);
    width: 100%;
}

.footer__nav {
    width: 5rem;
}


/* Misc */

.clock {
    font-size: 0.8rem;
}
.date {
    font-size: 0.8rem;
}


/* MIN/MAX-WIDTH SCREEN */

@media only screen and (max-width:768px) {
    :root {
        --100: 8px;
        --fs: 16px;
    }
    body {
        padding: var(--100);
    }
    .header__img {
        width: 100px;
    }
    .info {
        grid-template-columns: 1fr;
    }  
}
@media only screen and (max-width:480px) {
    :root {
        --100: 4px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }   
}

@media only screen and (min-width:1920px) {
    :root {
        --fs: 20px;
    }
}